.array-container {
    display: inline-block;
    justify-content: center;
}

.array-bar {
    width: 10px;
    background-color: teal;
    display: inline-block;
    margin: 0 1px;
    border-radius: 2px;
}

